{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OM Simulator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'oral_message/css/test.css' %}">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>


    <div class="container">
        <h3 class="text-center pt-3"><strong>Oral Message Simulator</strong></h3>
        <div class="row p-4">
            <span class="col border border-black p-4 m-2"> <!-- Left Box Start -->
                <div class="row">
                    <div class="col-auto">
                        <label for="" class="col-form-label"><strong>Jumlah Node</strong></label>
                    </div>
                    <div class="col">
                        <input type="number" name="" id="" class="form-control border border-black" value="3">
                    </div>
                </div>
                <br>
                <h5><strong>Byzantine Node (1/N)</strong></h5>
                <form action="">
                    <div class="container p-3 border border-black" style="height: 300px; overflow-y: scroll;">
                        <!-- Byzantine Nodes -->
                        <div class="row row-cols-2 g-2">
                            <div class="col-6"> <!-- Start of Node -->
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Commander</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End of Node -->
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 1</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 2</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Node 3</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="checkbox"
                                                id="inlineCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="container p-3"> <!-- Attack and Retreat Button -->
                        <div class="row">
                            <div class="form-check col"> <!-- Start of Button -->
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Attack</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="radio"
                                                name="flexRadioDefault" id="flexRadioDefault1" checked>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End of Button -->
                            <div class="form-check col">
                                <div class="p-3 border border-black rounded">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-check-label" for="inlineCheckbox1">Retreat</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-check-input float-end" type="radio"
                                                name="flexRadioDefault" id="flexRadioDefault1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container"> <!-- Start Button -->
                        <button type="submit" class="btn btn-dark mx-auto d-block" id="start-btn-tag">Start</button>
                    </div>

                </form>


            </span> <!-- Left Box End-->
            <span class="col border border-black p-4 m-2"> <!-- Right Box Start -->
                <h5><strong>Hasil Simulasi</strong></h5>
                <div class="container p-3" style="height: 450px; overflow-y: scroll;"> <!-- Byzantine Nodes -->
                    <div class="row row-cols-2 g-2">
                        <div class="col-6"> <!-- Start of Node -->
                            <div class="container p-3 text-center">
                                <div class="row">
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: red; color: white;" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        Commander
                                    </button>
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: red; color: white;" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        Byzantine
                                    </button>
                                </div>
                            </div>
                        </div> <!-- End of Node -->
                        <div class="col-6"> <!-- Start of Node -->
                            <div class="container p-3 text-center">
                                <div class="row">
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: #0fba00; color: white;">
                                        Node 1
                                    </button>
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: #0fba00; color: white;">
                                        Attack
                                    </button>
                                </div>
                            </div>
                        </div> <!-- End of Node -->
                        <div class="col-6"> <!-- Start of Node -->
                            <div class="container p-3 text-center">
                                <div class="row">
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: #0046ae; color: white;">
                                        Node 2
                                    </button>
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: #0046ae; color: white;">
                                        Retreat
                                    </button>
                                </div>
                            </div>
                        </div> <!-- End of Node -->
                        <div class="col-6"> <!-- Start of Node -->
                            <div class="container p-3 text-center">
                                <div class="row">
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: red; color: white;">
                                        Node N
                                    </button>
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: red; color: white;">
                                        Byzantine
                                    </button>
                                </div>
                            </div>
                        </div> <!-- End of Node -->
                        <div class="col-6"> <!-- Start of Node -->
                            <div class="container p-3 text-center">
                                <div class="row">
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: red; color: white;">
                                        Node N
                                    </button>
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: red; color: white;">
                                        Byzantine
                                    </button>
                                </div>
                            </div>
                        </div> <!-- End of Node -->
                        <div class="col-6"> <!-- Start of Node -->
                            <div class="container p-3 text-center">
                                <div class="row">
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: red; color: white;">
                                        Node N
                                    </button>
                                    <button class="col p-3 border border-black rounded"
                                        style="background-color: red; color: white;">
                                        Byzantine
                                    </button>
                                </div>
                            </div>
                        </div> <!-- End of Node -->
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Log Node X</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="height: 450px; overflow-y: scroll;">
                                <p>1. Receive Attack from Commander</p>
                                <p>2. Send Attack to Node 1</p>
                                <p>3. Send Attack to Node 2</p>
                                <p>1. Receive Attack from Commander</p>
                                <p>2. Send Attack to Node 1</p>
                                <p>3. Send Attack to Node 2</p>
                                <p>1. Receive Attack from Commander</p>
                                <p>2. Send Attack to Node 1</p>
                                <p>3. Send Attack to Node 2</p>
                                <p>1. Receive Attack from Commander</p>
                                <p>2. Send Attack to Node 1</p>
                                <p>3. Send Attack to Node 2</p>
                                <p>1. Receive Attack from Commander</p>
                                <p>2. Send Attack to Node 1</p>
                                <p>3. Send Attack to Node 2</p>
                                <p>1. Receive Attack from Commander</p>
                                <p>2. Send Attack to Node 1</p>
                                <p>3. Send Attack to Node 2</p>
                                <p>1. Receive Attack from Commander</p>
                                <p>2. Send Attack to Node 1</p>
                                <p>3. Send Attack to Node 2</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-center">
                    <h5><strong>Konsensus Tercapai</strong></h5>
                </div>
            </span> <!-- Right Box End -->
        </div>
    </div>
</body>

</html>